{% extends 'base.html' %}
{% load helperfuncs %}

{% block content %}

<div class="d-flex flex-column">

    <div class="d-flex flex-row">
        
        <div class="col-12 p-2 mt-3">

            <h5>Personal Information</h5>

            <p><strong>Name:</strong> {{ partner.first_name }} {{ partner.last_name }}</p>
            <p><strong>Email:</strong> {{ partner.email_address }}</p>

            <h5 class="mt-5">Projects</h5>

            <div class="list-group list-group-flush">

                {% for project in projects %}
            
            
                <div class="list-group-item">

                    <strong>{{ project.project_name }}</strong> ({{ project.organization }})<br>
                    {% with projectPartnerRoles|getIx:project.project_name as partnerProjectInfos %}
                        <em>Role:</em> {{ partnerProjectInfos.role }}
                    {% endwith %}

                </div>
                <!-- <p>Project Name - {{ project.project_name }} </p>
                <p>Organization - {{ project.organization }} </p>
                <p>Project Category - {{ project.project_category }} </p>
                

                
                    <div class="d-flex flex-column">
                        
                        {% for roles in partnerProjectInfos %}
                        
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row list-group-horizontal-lg p2">
                                <div class="col"><p> {{ roles.partner.first_name }} {{ roles.partner.last_name }} </p></div>
                                <div class="col"><p>  {{ roles.partner.email_address }} </p></div>
                                <div class="col"><p>  {{ roles.role }} </p></div>
                                <br>
                            </div>
                        </div>

                        {% endfor %} 

                    </div>
                
                
                <br> -->

            {% endfor %} 

            </div>

        </div>

    </div>

</div>

{% endblock %}
