{% extends 'two_column_view.html' %}
{% load helperfuncs %}

{% block first_column %}

<div class="p-2">

    <h5>Basic Information</h5>

    <p><strong>Name: </strong> {{ context.first_name }} {{ context.last_name }}</p>
    <p><strong>Email: </strong> {{ context.email_address }}</p>
    <p><strong>SID: </strong> {{ context.student_id }}</p>
    <p><strong>Major:  </strong>{{ context.major }}</p>
    <p><strong>Year: </strong> {{ context.year }}</p>
    <p><strong>College:  </strong>{{ context.college }}</p>
    <p><strong>Resume: </strong><a href="{{ context.resume_link }}" targe="_blank" rel="noopener noreferrer">{{ context.resume_link }}</a></p>

</div>

<hr>

<div class="p-2 d-flex flex-column align-items-center">

    <a type="button" class="btn btn-outline-info" href="/profile/edit">Edit Profile</a>

</div>

{% endblock %}


{% block second_column %}

<div class="p-2 my-1">

<h5>General Interest Statement</h5>

<p>{{ context.general_question }}</p>

</div>

<hr>

<div class="p-2 my-1">

<h5>Skills</h5>

<table class="table my-3">
    <tr>
        <th>Skill</th>
        <th>Skill Level</th>
    </tr>
    {% for skill, level in skills_tups %}

        <tr>
            <th scope="row">{{ skill }}</th>
            <td>{{ level }}</td>
        </tr>

    {% endfor %}
</table>

</div>


<!-- <h5>Application Info: </h5>
<p><strong>First Choice: </strong> {{ context.first_choice }}</p>
<p><strong>Second Choice:  </strong>{{ context.second_choice }}</p>
<p><strong>Third Choice: </strong> {{ context.third_choice }}</p> -->




{% endblock %}
