{% extends 'two_column_view.html' %}
{% load static %}

{% block extra_head %}

<script src="{% static 'js/archive.js' %}"></script>

{% endblock %}


{% block first_column %}
    
<div class="list-group list-group-flush" id="project-list">
    <p>No projects are available.</p>
</div>

{{ projects_json|json_script:"projects-json" }}

<script>
    // This makes a request to gather all projects and load them
    $(document).ready(loadProjects);
</script>
{% endblock %}


{% block second_column %}

<div class="mx-2 my-3" id="description">

    <p>No project selected.</p>

</div>

{% endblock %}
