{% extends 'base.html' %}
{% load helperfuncs %}


{% block container_class %}
container
{% endblock %}


{% block content %}

<h3>Edit DS Discovery Project Information</h3>

<div class="d-flex flex-column">
    <div class="col-8">

        <form action="" method="post" class="mb-5">
            {% csrf_token %}
            <table>
            {% for field in form %}
                {% if forloop.counter == 1 %}
                    <h3>About You</h3><br>
                {% endif %}
                {% if forloop.counter == 5 %}
                    <br><h3>Project Details</h3><br>
                    <p>Please provide details for the project that we can share on our website and with students.
                        <br><strong>Note: If you are proposing more than one project - you need to resubmit this form for each project you propose!</strong></p><br>
                {% endif %}
                {% if forloop.counter == 9 %}
                <br><p><strong>Provide a brief timeline around how you see your project developing throughout the semester.</strong></p>
                <p style="font-size:12px;">Keep in mind you will have 12 working weeks in a semester with your Discovery Student Team.
                    We understand that over the course of the semester, projects may evolve or change, and that's okay!
                    Please provide a rough timeline estimating what you think would be the best and most feasible progression of your project.
                    An example breakdown would look like: Phase 1 (Week 1-3): Cleaning the Data; Phase 2 (Week 4-5): Organize the data into a queryable relational database;
                Phase 3 (Week 6-10): Prototype and refine a front-end mock up that allows users to interact with the database.</p>
                {% endif %}
                {% if forloop.counter == 10 %}
                <br><p><strong>What do you expect your project workflow to look like? </strong></p>
                <p style="font-size:12px;">Things to possibly include: guidelines around communication, if students will be broken up
                    into teams and what aspect of the project would each sub team be working on, frequency of check-ins (please note that
                    Discovery requires you to meet with your student team at least once a week), breakdown of daily/weekly recurring student
                    responsibilities (if any), how many people on your team will be in touch with the student team etc. </p>
                {% endif %}
                {% if forloop.counter == 16 %}
                <br><p><strong>Would you be open to hosting a Research Intern from the Human Context and Ethics (HCE) team in addition to your Discovery Student Team?</strong></p>
                <p style="font-size:12px;">HCE collaborates with the Discovery program by placing a Research Intern from the HCE team on Discovery teams as a participant/observer.
                    The Research Intern will be responsible for identifying HCE issues in the Discovery Team's work and communicating them to project members.
                    The Intern will keep a detailed journal of ethnographic observations about the Discovery Team's work, will be responsible for researching the social contexts of
                    the Team's research project, and will use their findings to produce a curricular intervention in the form of a case study for the new Data Science Ethos Lifecycle.
                    This Lifecycle may then be developed to help teach future Discovery students about the Human Contexts and Ethics of data science research. Although they are not
                    expected to do the same technical work as other Discovery students (due to the quantity of work they , the Research Intern will be considered a member of your team.
                    They will participate in all meetings and offer feedback and input on research design decisions from an HCE perspective. The student will be supervised simultaneously
                    by Professor Ari Edmundson as part of a parallel research seminar.</p>
                {% endif %}
                {% if forloop.counter == 17 %}
                    <br><h3>Specifications for Student Applicants</h3><br>
                    <p>Applicants will be asked to submit a statement of interest to your project in their application. If there are any specific questions you would like applicants to respond to, include them below. [Optional]</p>
                {% endif %}
                <div class="form-group">
                    <b>{{ field.label_tag }}</b> <br>{{ field|addclass:"form-control" }}
                </div>
                {% if forloop.counter == 19 %}
                    <br><h5>Please indicate the level of experience you are looking for from student applicants in each of the following skills:
                    </h5><br>
                {% endif %}
            {% endfor %}
            </table>

            <input class="btn btn-light" type=button value="Back" onClick="javascript:history.go(-1);">
            <input class="btn btn-light" type="submit" value="Submit">
        </form>

    </div>
</div>

<script>
    // This allows the skills to be preselected when editing
    {% for skill in project.skillset %}
        {% with project.skillset|index:skill as skillLevel %}
            console.log("{{skill}}", "{{skillLevel}}");
            $("select[name='{{ skill }}'] option[value='{{ skill_levels_inverse|index:skillLevel }}']").prop("selected", true);
        {% endwith %}
    {% endfor %}
</script>
{% endblock %}
