{% extends 'three_column_view.html' %}

{% block first_column %}

<form method="get" novalidate>
    
    {% csrf_token %}
    
    <div class="list-group list-group-flush">
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <!-- <script>
                    var selected_category = document.getElementById("ddlViewBy").value;
                </script> -->
                <button 
                    type="submit" 
                    class="list-group-item list-group-item-action {% if selected_project.project_name == question.project_name %} active {% endif %}" 
                    name="project_wanted" 
                    value="{{question.project_name}}"
                >
                    {{question.project_name}}
                </button>
            {% endfor %}
        {% else %}
            <p>No projects are available.</p>
        {% endif %}
    </div>

    {% if selected_category %}
        <input type="text" name="category_wanted" value="{{ selected_category }}" hidden>
    {% endif %}

</form>

{% endblock %}


{% block second_column %}

<div class="mx-2 my-3">

    {% if selected_project.project_name %}
        <!-- <h3>Project Info: </h3> -->
        <p>Project Description: {{ selected_project.description }}</p>
        
    {% else %}
        <p>No project selected.</p>
    {% endif %}

</div>

{% endblock %}


{% block third_column %}

<!-- project category dropdown -->
<div class="my-1 mt-2">

    <h5 class="text-center">Category Filter</h5>

    <form method="GET" novalidate>
        {% csrf_token %}
        
        <select name="category_wanted" class="custom-select" onChange="form.submit();">
            {% if project_category_list %}
                <option class="dropdown-item" value=""></option>
                {% for category in project_category_list %}
                    {% if selected_category == category %}
                        <option class="dropdown-item" value="{{category}}" selected>{{category}}</option>
                    {% else %}
                        <option class="dropdown-item" value="{{category}}">{{category}}</option>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No Categories are available.</p>
            {% endif %}
        </select>
    </form>

</div>

<hr>

{% if selected_project %}

    <!-- <div class="flex-row my-1">
        <h5 class="text-center">Category</h5>
        
    </div>

    <hr> -->

    <!-- <div class="flex-row my-1">
        <h5 class="text-center">Project Status </h5>
        
        {% if labels %}
            <h4>
                <ul style="list-style-type:none;">
                    <li><span class="badge badge-pill badge-info">NA</span></li>
                </ul>
            </h4>
        {% endif %}
    </div>

    <hr> -->

    <div class="flex-row my-1">
        <h5 class="text-center">Project Info</h5>

        <p><strong>{{ selected_project.project_name }}</strong></p>

        <div class="d-flex flex-row align-items-start mb-3">
            {% for label in labels %}
                <span class="badge badge-pill badge-info mr-1">{{ label }}</span>
            {% endfor %}
        </div>


        <!-- <p>Partner First Name: {{ selected_partner.first_name }}</p>
        <p>Partner Last Name: {{ selected_partner.last_name }}</p>
        <p>Partner Email: {{ selected_partner.email_address }}</p>
        <p>Partner Organization: {{ selected_project.organization }}</p>
        <p>Project Category: {{ selected_project.project_category }}</p> 
        <p>Student Number: {{ selected_project.student_num }}</p>-->

        <p>Number of Students: <span class="text-muted">{{ selected_project.student_num }}</span></p>
        <p>Applications Received: <span class="text-muted">{{ num_applicants}}</span></p>
        
        <!-- <span class="badge badge-pill badge-info">{{ num_applicants }}</span> -->
    </div>

    <hr>

    <div class="d-flex flex-column my-1">

        <h5 class="text-center">Action Items</h5>
    
        <div class="my-1">
    
            <div class="d-flex flex-row justify-content-center mb-2">
                <a href="{{ selected_project.project_name }}/apply"><button type="button" class="btn btn-outline-info">Apply</button></a>
            </div>

        </div>
    
    </div>

{% endif %}

{% endblock %}
