django
psycopg2-binary
pandas
django-allauth
login
whitenoise
django-flags
PyYAML
django-gmailapi-backend
django-import-export
django_tables2
django-constance[database]
django-picklefield
factory_boy
