{% extends 'two_column_view.html' %}

{% block first_column %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="list-group">
        {% for i in num_apps %}
            {% if i == 1 %}
                <button type="submit" class="list-group-item list-group-item-action" name="selected_application" value="first_project"> Application {{ i }}</button>
            {% elif i == 2 %}
                <button type="submit" class="list-group-item list-group-item-action" name="selected_application" value="second_project"> Application {{ i }}</button>
            {% else %}
                <button type="submit" class="list-group-item list-group-item-action" name="selected_application" value="third_project"> Application {{ i }}</button>
            {% endif %}
        {% endfor %}
    </div>
</form>

{% endblock %}


{% block second_column %}

{% if num_apps|length == 0 %}

    <p>You  haven't applied to any projects yet. You can apply to projects <a href="/projects">here</a>.</p>

{% else %}

    <h4><a href="/projects?project_wanted={{ active_project.project_name }}">{{ active_project.project_name }}</a></h4>

    {% include 'applications/question_responses.html' %}

{% endif %}

{% endblock %}
