.asc::before {
  content:'▼';
}

.desc::before {
  content:'▲';
}

.paginator * {
  margin-right: 5px;
}

form {
  padding: 10px 0 20px 0;
input[type="checkbox"] {
  margin-left: 10px;
  margin-right: 5px;
}
