
{% load socialaccount %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>{{project}} Application</title>
</head>



{% load split %}

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Discovery Application Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    {% if not user.is_authenticated %}
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% else %}
        {{ user.username }}
    {% endif %}
</nav>

<h1> {{project}} </h1>
<form action="" method="post">
  {% csrf_token %}




  {% for question in questions.all %}
    <h1>
      {{ question.question_num }}. {{ question.question_text }} <br>
  </h1>
      {% if question.question_type == "text" %}
          "text type"
          <textarea name="{{ question.id }}" rows=”4″ cols=”20″> </textarea><br>
      {% endif %}

      {% if question.question_type == "mc" %}
          "mc type"


          {% with question.question_data|split:";" as options %}
            {% for radio in options %}
              <input type="radio" name="{{ question.id }}" value ="{{radio}}">{{ radio }}
            {% endfor %}
          {% endwith %}
      
      {% endif %}

      {% if question.question_type == "dropdown" %}
          "dropdown type"

        {% with question.question_data|split:";" as options %}
          <select name="{{ question.id }}" required>
            <option value=""></option>
            {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
        {% endwith %}


      <!-- {% with question.question_data|split:";" as options %}
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ option }}
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      {% for option in options %}
        <div><a href="#">{{ option }}</a></div>
        {% endfor %}
    </div>
    {% endwith %} -->

      {% endif %}

      {% if question.question_type == "checkbox" %}
          "checkbox type"


          {% with question.question_data|split:";" as options %}

      

            {% for option in options %}
              <input type="checkbox" name="{{ question.id }}" value ="{{option}}">{{ option }}
            {% endfor %}
     


            {% endwith %}
      
    
      {% endif %}

      {% if question.question_type == "multiselect" %}
          "multiselect type"


          {% with question.question_data|split:";" as options %}
          <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

          <select multiple="multiple" name="{{ question.id }}">
      
            {% for option in options %}
               <option value="{{ option}}">{{ option}}</option>
            {% endfor %}
            </select>

  
     


            {% endwith %}
      
    
      {% endif %}

      <!-- {{ form }} -->


  {% endfor %}



<br>
  <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
