<!doctype html>
<html>
    <title>DS Discovery Application Confirmation</title>
</html>
<body>
    <p>Hello,</p>

    <p>This is a email is to confirm that you have applied to <strong>{{ project.project_name }}</strong> through the Data Science Discovery Program.</p>

    <p>Project partners will review applications and reach out to you directly with further status updates.</p>

    <p>If you have any more questions, please email us at <a href="mailto:ds-discovery@berkeley.edu">ds-discovery@berkeley.edu</a>.</p>

    <p>
        Best,<br>
        Data Science Discovery<br>
        UC Berkeley
    </p>

    <p><strong>NOTE:</strong> This is an unmonitored email address. Please do not reply to this email.</p>
</body>
