<!DOCTYPE html>

{% load socialaccount %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Listing Page</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
            <a class="navbar-brand" href="../#">Discovery Application Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

             <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
              </li>
            </ul>

            {% if not user.is_authenticated %}
                <a href="{% provider_login_url 'google' %}">Login with Google</a>
            {% else %}
                {{ user.username }}
            {% endif %}
    </nav>

    <div class="d-flex flex-row justify-content-center align-items-center border p-2">
      <ul class="list-group list-group-horizontal-lg navbar-navo">
        <li class="list-group-item flex-fill "><a class="nav-link" href="../student/profile"><h4>Basic Information</h4></a></li>
        <div class="mt-3">


        </div>
        <li class="list-group-item flex-fill"> <a class="nav-link" href="#"><h4>Application</h4></a></li>
      </ul>



    </div>


    <div class="d-flex flex-row">
         <div class="col-3 border p-2">
            <form method="post" novalidate>
              {% csrf_token %}
              <div class="list-group">
                {% for i in num_apps %}
                        {% if i == 1 %}
                    <button type="submit" class="list-group-item list-group-item-action" name="selected_application" value="first_project"> Application {{i}}</button>
                        {% elif i == 2 %}
                    <button type="submit" class="list-group-item list-group-item-action" name="selected_application" value="second_project"> Application {{i}}</button>
                        {% else %}
                    <button type="submit" class="list-group-item list-group-item-action" name="selected_application" value="third_project"> Application {{i}}</button>
                        {% endif %}
                {% endfor %}
              </div>
            </form>
           <!--  <div class="list-group" id="list-tab" role="tablist">

                {% for i in num_apps %}
                    {% if i == 1 %}
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab"><div class="text-center">Application {{i}}</div></a>
                    {% else %}
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"><div class="text-center">Application {{i}}</div></a>
                    {% endif %}
                {% endfor %}
            </div> -->
        </div>

        <div class="col-9 border p-2">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Project Name</h5>
                </div>
                <p>{{active_project.project_name}}</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Partner Info</h5>
                </div>
                <p>Partner First Name: {{ selected_partner.first_name }}</p>
                <p>Partner Last Name: {{ selected_partner.last_name }}</p>
                <p>Partner Email: {{ selected_partner.email_address }}</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Project Description</h5>
                </div>
            <p>{{active_project.description}}</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Project Status</h5>
                </div>
            <p><div>
                      <br>
                      <h4>
                        <ul style="list-style-type:none;">
                            <li><span class="badge badge-pill badge-info">{{active_project.status}}</span></li>
                        </ul>
                      </h4>
                    </div></p>
            </a>


        </div>

    </div>

</body>
</html>