{% load socialaccount %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<html>
    <head>
        <title>Discovery Application Landing Page</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Discovery Application Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            {% if not user.is_authenticated %}
                <a href="{% provider_login_url 'google' %}">Login with Google</a>
            {% else %}
                {{ user.username }}
            {% endif %}
        </nav>

        <!-- project listing -->
        <!--
        {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="/projects/{{ question.project_name }}/">{{ question.project_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No projects are available.</p>
        {% endif %}
        -->


                <!--

                {% if project_category_list %}
                    {% for category in project_category_list %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/projects/{{category}}"> {{category}} <span class="sr-only">(current)</span></a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No Categories are available.</p>
                {% endif %}
                -->


        <div class="d-flex flex-column">

             <!-- project listing -->

            <!-- start flexbox layout -->
            <div class="d-flex flex-row justify-content-center align-items-center border p-2">
              <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item flex-fill "><h4>Basic Information</h4></li>
                <li class="list-group-item flex-fill "><h4>Projects</h4>
                  <div class="mt-3">
                    <!-- <div class="border border-dark mr-2 pr-5 pl-5">
                        <h5>Projects</h5>
                    </div> -->
                      <form method="post" novalidate>
                          {% csrf_token %}
                          <select name = "category_wanted" class="form-control" onChange="form.submit();">
                              {% if project_category_list %}
                                  {% for category in project_category_list %}
                                      {% if selected_category == category %}
                                          <option class="dropdown-item" value="{{category}}" selected>{{category}}</option>
                                      {% else %}
                                          <option class="dropdown-item" value="{{category}}">{{category}}</option>
                                      {% endif %}
                                  {% endfor %}
                              {% else %}
                                  <p>No Categories are available.</p>
                              {% endif %}

                          </select>
                      </form>
                  </div>
                </li>
                <li class="list-group-item flex-fill"><h4>Application</h4></li>
                <li class="list-group-item flex-fill"><h4>Status</h4></li>
              </ul>



            </div>

            <div class="d-flex flex-row">
                <!-- <div class="d-flex flex-column border border-dark"> -->
                <div class="col-3">

                    <!-- project listing -->
                    <div class="list-group">
                    <!-- <div class="list-group" id="myList" role="tablist"> -->

                    {% if latest_question_list %}
                        <ul>
                            {% for question in latest_question_list %}
                                <!-- <button type="button" class="list-group-item list-group-item-action" data-toggle="list" href="#home" role="tab">{{ question.project_name }}</button> -->
                                <button type="button" class="list-group-item list-group-item-action">{{ question.project_name }}</button>
                                <!-- <li><a href="/projects/{{ question.project_name }}/">{{ question.project_name }}</a></li> -->
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No projects are available.</p>
                    {% endif %}

                    </div>

                </div>
                <div class="col-6">
                  <br>
                  <h4>Project Info: </h4>
                  <br>
                  <h3>{{ project.project_name }} </h3>

                  <p>Partner First Name: {{ project.first_name }}</p>
                  <p>Partner Last Name: {{ project.last_name }}</p>
                  <p>Partner Email: {{ project.email_address }}</p>
                  <p>Partner Organization: {{ project.organization }}</p>
                  <p>Project Category: {{ project.project_category }}</p>
                  <p>Student Number: {{ project.student_num }}</p>
                  <p>Project Description: {{ project.description }}</p>


                  <!-- <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane active" id="home" role="tabpanel">
                      Velit aute mollit ipsum ad dolor consectetur nulla officia culpa adipisicing exercitation fugiat tempor.
                      Voluptate deserunt sit sunt nisi aliqua fugiat proident ea ut. Mollit voluptate reprehenderit occaecat nisi
                      ad non minim tempor sunt voluptate consectetur exercitation id ut nulla. Ea et fugiat aliquip nostrud sunt
                      incididunt consectetur culpa aliquip eiusmod dolor. Anim ad Lorem aliqua in cupidatat nisi enim eu nostrud
                      do aliquip veniam minim.
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                      Cupidatat quis ad sint excepteur laborum in esse qui. Et excepteur consectetur ex nisi eu do cillum ad
                      laborum. Mollit et eu officia dolore sunt Lorem culpa qui commodo velit ex amet id ex. Officia anim
                      incididunt laboris deserunt anim aute dolor incididunt veniam aute dolore do exercitation. Dolor nisi culpa
                      ex ad irure in elit eu dolore. Ad laboris ipsum reprehenderit irure non commodo enim culpa commodo veniam
                      incididunt veniam ad.
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">
                      Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum
                      voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim
                      tempor. Consectetur est minim nostrud nostrud consectetur irure labore voluptate irure. Ipsum id Lorem sit
                      sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat
                      anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                      Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut
                      dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat
                      aliqua labore aute occaecat ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet
                      consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id
                      nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.
                    </div>
                  </div> -->
                </div>


                <div class="col-3 border p-2">
                  <div class="d-flex flex-row border p-2">
                    <br>
                    <h4>Labels: </h4>
                    <br>
                  </div>
                  <div class="d-flex flex-row border p-2">
                    <br>
                    <h4>Project Status: </h4>
                    <br>
                  </div>
                  <div class="d-flex flex-row border p-2">
                    <br>
                    <h4>Action Items: </h4>
                    <br>
                  </div>
                </div>
            </div>



        </div>



    </body>
</html>
