<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h3>{{ project.project_name }} </h3>

<p>Partner First Name: {{ project.first_name }}</p>
<p>Partner Last Name: {{ project.last_name }}</p>
<p>Partner Email: {{ project.email_address }}</p>
<p>Partner Organization: {{ project.organization }}</p>
<p>Project Category: {{ project.project_category }}</p>
<p>Student Number: {{ project.student_num }}</p>
<p>Project Description: {{ project.description }}</p>