{% extends 'one_column_view.html' %}

{% block column %}

  <h3>Welcome to the Spring 2021 semester of Data Science Discovery!</h3>

  <!-- <h4>Students</h4> -->

  <h5 class="pt-2">Application Instructions</h5>

  <p>Use this application portal to browse this semester’s projects and submit your application.</p>

  <ol>
      <li>Login using your Berkeley email address</li>
      <li>Create a profile that will be included in your application. You will be asked for a brief general interest statement.</li>
      <li>Browse projects and click "Apply" on the projects that interest you. You will be asked to submit an interest statement for each project you apply to.</li>
  </ol>

  <p><strong>Phase 1 (Student Applications):</strong> Student applications will be accepted from <strong>Jan 12 to Jan 25</strong>. Each student can apply to up to 3 projects. Please check out the video walkthrough below for a tutorial on how to use the portal.</p>

  <p><strong>Phase 2 (Application Review):</strong> From <strong>Jan 25 to Feb 5</strong>, Project Partners will begin scheduling interviews and making offers <strong>via email</strong>.</p>

  <p><strong>Phase 3 (Offer Acceptance):</strong> Students will have until <strong>Feb 8</strong> to accept or reject offers.</p>

  <h6>Portal Instructions</h6>

  <p>The video below will walk you through the process of applying to Discovery projects through this portal.</p>

  <iframe width="560" height="315" class="my-4" src="https://www.youtube.com/embed/QEEeilXiNXg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: block; margin: 0 auto;"></iframe>

  <h5>Program Requirements</h5>

  <p>Students are expected to commit <strong>6-12 hours per week</strong> to their research project (the exact time commitment expected should be confirmed with the project partner). 1 unit of academic credit is available for every 3 hours of work per week. See below for instructions regarding enrollment information.</p>

  <p>All student teams are required to submit a <strong>Mid-Term Progress Report</strong> by the end of Spring Break and a Final Presentation during reading week. See the <a href="https://docs.google.com/document/d/1wmMLWeKCgJrq93ZM5U6BwC-KVoMyD26GuIar5wozHqQ/edit?usp=sharing" target="_blank">Spring 2021 Program Description</a> for more information.</p>

  <p>A number of resources are available to support Discovery teams, including graduate student mentors, working groups, pre-recorded workshops, peer consultants and cloud computing credits. We require that each student engage <strong>at least one time</strong> with each resource by Spring Break.</p>

  <p>Students will be required to respond to <strong>4 short surveys</strong> throughout the semester.</p>

  <h5>Enrollment Information</h5>

  <p>Once you are accepted onto a Discovery project, you will be sent a URAP Learning Contract containing this <a href="https://docs.google.com/document/d/1pzP-v0GzGTG1G1tOk8H3h8S0Avn3cjnnA0MrnLpnNzI/edit?usp=sharing" target="_blank">Student Agreement</a>.</p>

  <p>After you file the contract, you will receive an email message from the URAP office with the enrollment information for UGIS 192 (class number and permission number). Use your Permission Number promptly to enroll in UGIS 192. One unit of UGIS 192 is available for every 3 hours of research work you do for your mentor. If you wish to have your research experience annotated on your transcripts, you will need to enroll for at least one unit of UGIS 192. All the changes to your class schedule must be made by Wednesday of the fourth week of classes. This includes adds, drops, and changes in unit value for variable unit courses, so make a realistic assessment of the time you will devote to URAP. To make the deadline, you will need to submit your Learning Contract before 9 AM on Wednesday of the fourth week of classes, February 10th.</p>

  <h5>Questions</h5>

  <p>We want to make sure that we’re providing all the information you need to have a successful semester with Discovery. Feel free to leave your feedback here on this <a href="https://docs.google.com/forms/d/e/1FAIpQLScX--A1WTz7CbJtEOaWWMvLYXGrQN8Q5aWhQV33EuSU5m7veQ/viewform" target="_blank">anonymous form</a>. If you have any questions or comments, please contact <a href="mailto:ds-discovery@berkeley.edu">ds-discovery@berkeley.edu</a>.</p>


{% endblock %}
