{% extends 'one_column_view.html' %}
{% load static %}

{% block column %}
  <a style="float: right; padding-right: 30px;" href="https://forms.gle/cV66Aj8MCgHS4x3A7"><button type="button" class="btn btn-outline-info">Request to be a Project Partner</button></a>

  <h3>Data Science Discovery: Open to Project Partner Applications for Fall 2021!</h3>

  <h5><i>Application open for Project Partner Applications through August 1st.</i></h5>

  <p>Discovery connects undergraduates with hands-on, team-based opportunities in cutting-edge data research projects at UC Berkeley, government agencies, community groups, and entrepreneurial ventures. Some of our past Project Partners are shown below: </p>
  <center>
  <img src="{% static 'img/american-heart-association-logo_0.png' %}" alt="American Heart Association" height="150" >
  <img src="{% static 'img/bart.png' %}" alt="Bart" height="150" >
  <img src="{% static 'img/fao.png' %}" alt="FAO" height="150" >
  <img src="{% static 'img/fixing_co2.png' %}" alt="Fixing CO2" height="150" >
  <img src="{% static 'img/nasa.jpeg' %}" alt="NASA" height="150" >
  <img src="{% static 'img/ucsf.jpeg' %}" alt="UCSF" height="150" >
  <img src="{% static 'img/uwca.png' %}" alt="United Ways of California" height="150" >
  <img src="{% static 'img/witi.png' %}" alt="Women in Tech Initiative" height="150" >
  <img src="{% static 'img/wsj.jpeg' %}" alt="Wall Street Journal" height="150" >
  </center>

  <p> Through partnership with Discovery, Project Partners will have the opportunity to: </p>
  <ul>
    <li><p>Increase your capacity to take on data-centric projects, at any level of complexity</p></li>
    <li><p>Collaborate with UC Berkeley’s world-class data science students</p></li>
    <li><p>Create cutting edge machine learning, neural network, and AI algorithms to get new insights and tangible results from your data science projects</p></li>
    <li><p>Rely on an infrastructure of technical and project management support for your student team</p></li>
    <li><p>Join our network of professors, graduate and undergraduate students, and past Project Partners such as NASA, UCSF, Creative Commons, BART and more.</p></li>
    <li><p>Access free cloud computing and data storage resources.</p></li>
  </ul>

  <p><b>Check out our archive of past projects <a href="/archive">here</a>.</b></p>

  <h5>How to Apply to be a Project Partner</h5>
  <ul>
    <li><p>If you were a Project Partner in Spring 2021:</p></li>
    <ul>
      <li><p>Simply click on the "Projects" tab</p></li>
      <li><p>Select “Create New Project”</p></li>
      <li><p>Fill in the details of your project for the upcoming semester in the appropriate sections of the form that appears on your screen</p></li>
    </ul>
    <li><p>If you wish to be a new Project Partner with Discovery:</p></li>
    <ul>
      <li><p>Click on the “Request to be a Project Partner” tab on the upper-right side of the Home page</p></li>
      <li><p>Fill in the Google Form that appears and wait to hear back from us</p></li>
      <li><p>Once you have been onboarded:</p></li>
      <li><p>Simply click on the “Projects” tab to add your new student Project</p></li>
      <li><p>Select “Create New Project”</p></li>
      <li><p>Fill in the details of your project for the upcoming semester in the appropriate sections of the form that appears on your screen</p></li>
    </ul>
  </ul>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/YLJeB0EkjJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  <h5>Matching Process</h5>
  <p><b>Phase 1 (Student Applications)</b>: Student applications will be accepted from August 9th to August 22nd.</p>
  <p><b>Phase 2 (Application Review)</b>: From August 23rd to September 3rd, Project Partners will begin scheduling interviews and making offers via the portal.</p>
  <p><b>Phase 3 (Offer Acceptance)</b>: Students will have until September 8th to accept or reject offers.</p>

  <h5>Questions</h5>
  <p>For specific inquiries about our program email <a href="mailto:ds-discovery@berkeley.edu">ds-discovery@berkeley.edu</a>.</p>

  <p>To learn more about the program visit <a href="https://data.berkeley.edu/research/discovery"> https://data.berkeley.edu/research/discovery</a>. </p>

{% endblock %}
