{% extends 'one_column_view.html' %}
{% load static %}

{% block column %}
  <a style="float: right; padding-right: 30px;" href="/profile"><button type="button" class="btn btn-outline-info">Create Student Profile</button></a>
  <h3>Welcome to the Fall 2021 semester of Data Science Discovery! </h3>

  <h5><i>Application open for students August 9th to August 22nd</i></h5>

  <p>Discovery connects undergraduates with hands-on, team-based opportunities in cutting-edge data research projects at UC Berkeley, government agencies, community groups, and entrepreneurial ventures. Some of our past Project Partners are shown below: </p>
  <center>
  <img src="{% static 'img/american-heart-association-logo_0.png' %}" alt="American Heart Association" height="150" >
  <img src="{% static 'img/bart.png' %}" alt="Bart" height="150" >
  <img src="{% static 'img/fao.png' %}" alt="FAO" height="150" >
  <img src="{% static 'img/fixing_co2.png' %}" alt="Fixing CO2" height="150" >
  <img src="{% static 'img/nasa.jpeg' %}" alt="NASA" height="150" >
  <img src="{% static 'img/ucsf.jpeg' %}" alt="UCSF" height="150" >
  <img src="{% static 'img/uwca.png' %}" alt="United Ways of California" height="150" >
  <img src="{% static 'img/witi.png' %}" alt="Women in Tech Initiative" height="150" >
  <img src="{% static 'img/wsj.jpeg' %}" alt="Wall Street Journal" height="150" >
  </center>


  
  <h4><u>Students</u></h4>
  <h5>Application Instructions</h5>

  <p>Use this application portal to browse this semester’s projects and submit your application.</p>
  <ol>
    <li>Login using your Berkeley email address.</li>
    <li>Create a profile that will be included in your application. You will be asked for a brief general interest statement.</li>
    <li>Browse projects and click “Apply” on the projects that interest you. You will be asked to submit an interest statement for each project you apply to.</li>
  </ol>

  <h5>Matching Process</h5>
  <p><b>Phase 1 (Student Applications)</b>: Student applications will be accepted from August 9th to August 22nd.</p>
  <p><b>Phase 2 (Application Review)</b>: From August 23rd to September 3rd, Project Partners will begin scheduling interviews and making offers via the portal.</p>
  <p><b>Phase 3 (Offer Acceptance)</b>: Students will have until September 8th to accept or reject offers.</p>

  <h5>Program Requirements</h5>
  <p>The program offers variable units on a P/NP basis.</p>
  <p><i><u>In order to receiving a passing grade:</u></i></p>
  <ol>
    <li>Students are expected to commit 6-12 hours per week to their research project (the exact time commitment expected should be confirmed with the project partner). 1 unit of academic credit is available for every 3 hours of work per week. See below for instructions regarding enrollment information.
    </li>
    <li>All student teams are required to submit a Mid-Term Progress Report (this will be sent to you as a Google Form to fill out)and a Final Presentation during reading week. 
    </li>
    <li>Students will be required to respond to 4 short surveys throughout the semester (beginning of the semester, halfway through the semester, before reading week, after the semester).
    </li>
  </ol>
  <p>A number of resources are available to support Discovery teams, including graduate student mentors, working groups, pre-recorded workshops, peer consultants and cloud computing credits. We encourage each student to engage at least one time with each resource in the first 4 weeks of your project.
  </p>

  <h5>Enrollment Information</h5>
  <p>Once you are accepted onto a Discovery project, you will be sent a URAP Learning Contract containing this <a href="https://docs.google.com/document/d/1pzP-v0GzGTG1G1tOk8H3h8S0Avn3cjnnA0MrnLpnNzI/edit?usp=sharing" target="_blank"> Student Agreement</a>.
  </p>
  <p>After you file the contract, you will receive an email message from the URAP office with the enrollment information for UGIS 192 (class number and permission number). Use your Permission Number promptly to enroll in UGIS 192. One unit of UGIS 192 is available for every 3 hours of research work you do for your mentor. If you wish to have your research experience annotated on your transcripts, you will need to enroll for at least one unit of UGIS 192. 
    All the changes to your class schedule must be made by Wednesday of the fourth week of classes. This includes adds, drops, and changes in unit value for variable unit courses, so make a realistic assessment of the time you will devote to URAP. To make the deadline, you will need to submit your Learning Contract before 9 AM on Wednesday of the fourth week of classes, September 15th.
  </p>

  <h5>Questions</h5>
  <p>We want to make sure that we’re providing all the information you need to have a successful semester with Discovery. Feel free to leave your feedback here on this <a href="https://docs.google.com/forms/d/e/1FAIpQLScX--A1WTz7CbJtEOaWWMvLYXGrQN8Q5aWhQV33EuSU5m7veQ/viewform" target="_blank"> anonymous form</a>. If you have any additional questions, please contact <a href="mailto:ds-discovery@berkeley.edu">ds-discovery@berkeley.edu</a>.
  </p>

  <h4><u>Partners</u></h4>
  <h6><i>Project Partner applications are closed for this semester. Please check back later for information on how to apply to be a Project Partner for next semester.</i></h6>
  <p> Through partnership with Discovery, Project Partners will have the opportunity to: </p>
  <ul>
    <li><p>Increase your capacity to take on data-centric projects, at any level of complexity</p></li>
    <li><p>Collaborate with UC Berkeley’s world-class data science students</p></li>
    <li><p>Create cutting edge machine learning, neural network, and AI algorithms to get new insights and tangible results from your data science projects</p></li>
    <li><p>Rely on an infrastructure of technical and project management support for your student team</p></li>
    <li><p>Join our network of professors, graduate and undergraduate students, and past Project Partners such as NASA, UCSF, Creative Commons, BART and more.</p></li>
    <li><p>Access free cloud computing and data storage resources.</p></li>
  </ul>

  <p><b>Check out our archive of past projects <a href="/archive">here</a>.</b></p>

  <h5>Questions</h5>
  <p>For specific inquiries about our program email <a href="mailto:ds-discovery@berkeley.edu">ds-discovery@berkeley.edu</a>.</p>

  <p>To learn more about the program visit <a href="https://data.berkeley.edu/research/discovery"> https://data.berkeley.edu/research/discovery</a>. </p>

{% endblock %}
