{% extends 'base.html' %}

{% block additional_nav %}

<div class="d-flex flex-column">

    <div class="d-flex flex-row justify-content-center align-items-center border p-2">
        <ul class="list-group list-group-horizontal-lg navbar-navo">
            <li class="list-group-item flex-fill "><a class="nav-link" href="/profile"><h4>Basic Information</h4></a></li>
            <div class="mt-3"></div>
            <li class="list-group-item flex-fill"> <a class="nav-link" href="/applications"><h4>Application</h4></a></li>
        </ul>
    </div>

</div>

{% block content %}
    replace meeeeeeeee
{% endblock %}

{% endblock %}
