{% extends 'one_column_view.html' %}

{% block column %}

  <style>
      table, th, td {
        border: 0.5px solid silver;
      }

      table {
        margin: 10px auto;
        box-shadow: 5px 4px 30px rgba(0,0,0,.25);
      }

      th, td {
        padding: 15px;
      }
  </style>

  <h3>Advising Resources</h3>


  <h5 class="pt-2">Grad fellows</h5>

  <ul>
      <li>Check-ins: <a href="https://docs.google.com/document/d/1YKY9yKOxj026wSpFdTnurgv0GZO6UG2xqw32KkC-ofA/edit?usp=sharing">Guidelines/Modes of Support</a></li>
      <li>Working groups</li>
      <li>Networking/Connections</li>
  </ul>

  <h5 class="pt-2">Peer consultants/D-Lab consultants</h5>


  <ul>
      <li>D-Lab Front Desk: <a href="https://dlab.berkeley.edu/frontdesk">https://dlab.berkeley.edu/frontdesk</a></li>
      <p><a href="https://dlab.berkeley.edu/">D-Lab</a> offers consulting services on research design, data analysis, data management, and related techniques and technologies.
              We welcome inquiries from Berkeley faculty, staff, postdocs, and grad students at all levels of expertise.
              Our standard consulting services are free of charge. In general, we provide consulting for you at your research stage, <u>not</u> for coursework.
              Please use your TAs for support specific to individual classes or assignments. Our standard consulting services are free of charge. In general, we provide consulting
              for you at your research stage, <u>not</u> for coursework. Please use your TAs for support specific to individual classes or assignments.</p>
      <li>Data Peer Consultants</li>
      <p>Peer Advisors complement the <a href="https://data.berkeley.edu/degrees/student-services">Data Science Advising services</a> by sharing their diverse knowledge of and experiences
          with major courses, different Data Science Major domain emphases, extracurriculars and student groups on campus, research opportunities, and various campus resources. </p>
  </ul>

  <h3>Technical Resources</h3>

  <p>We currently have a DS-Discovery Github organization, which gives us access to the <a href="https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/organizing-members-into-teams">Github Teams</a>
      infrastructure. This offers version control, source code management and allows you to manage permissions on project code access, enhancing flexibility in development. For code-intensive and/or multi-semester projects,
      we especially recommend the use of Github, since it allows the team to collaborate easily, makes it easier to onboard new researchers if they change from semester to semester, and also helps our peer consultants to easily
      debug code. If you would like to create a Github team, please email <a href="mailto:ds-discovery@berkeley.edu">ds-discovery@berkeley.edu</a>, with the title of your project and the Github usernames of your researchers,
      and the subject line <i>“Github Team Setup”</i>.</p>
      <ul>
          <li>Azure cloud computing credits</li>
          <ul>
              <li>Azure Cloud Credits <a href="https://docs.google.com/forms/d/e/1FAIpQLSejRkm01TPBkwieuouxBcqCss4Q9B1meR9200NKngwok97Kmg/viewform">Request Form</a></li>
              <li>Microsoft Azure Workshops</li>
              <ul>
                  <li><a href="https://youtu.be/3RRirPGDWbE">Intro to Azure</a></li>
                  <li><a href="https://www.youtube.com/watch?v=0D93Xx7miEk">Intro to Azure ML</a></li>
                  <li><a href="https://www.youtube.com/watch?v=c2UaETGb53M">Azure ML Case Studies: Training GANs / Doing BERT Question Answering</a></li>
                  <li><a href="https://youtu.be/TAs3lycfPlo">Azure Q&A with Dmitry (ft. cloud storage tutorial!)</a></li>
              </ul>
          </ul>
          <br><li>Pre-recorded workshops:</li><br>
          <table style="width:70%">
              <tr>
                  <th>Content</th>
                  <th>Zoom Link/Recording</th>
              </tr>
              <tr>
                  <td>Project Design, Design Justice & Problem Definition</td>
                  <td><a href="https://drive.google.com/file/d/1YTWkcc63ElmtdrXYKS1dm9pGUEb9N7im/view?usp=sharing">Recording</a></td>
              </tr>
              <tr>
                  <td>How to do Responsible Data Science</td>
                  <td><a href="https://drive.google.com/file/d/19P19r9DQl1u-GJqiIfuTtxWsMMdseVr5/view?usp=sharing">Recording</a></td>
              </tr>
              <tr>
                  <td>How to make a Data Science Project Robust</td>
                  <td><a href="https://drive.google.com/file/d/1A5LNC7sLDPeSBCw2v11-BjueuV1Qqoh0/view?usp=sharing">Recording</a></td>
              </tr>
              <tr>
                  <td>How to talk about Data</td>
                  <td><a href="https://drive.google.com/file/d/11z23sg7YDPG-zV8_t_sMlg5bNid4YGYJ/view?usp=sharing">Recording</a></td>
              </tr>
              <tr>
                  <td>Introduction to Deep Learning Video</td>
                  <td><a href="https://www.youtube.com/watch?v=F-RbqPlavl0">Recording</a></td>
              </tr>
              <tr>
                  <td>Introduction to Interactive Web-Based Visualizations Video</td>
                  <td><a href="https://www.youtube.com/watch?v=C64ZQzINc3k">Recording</a></td>
              </tr>
              <tr>
                  <td>Deep Dive into Interactive Web-Based Visualizations Video</td>
                  <td><a href="https://www.youtube.com/watch?v=GwjBvY79XlY">Recording</a></td>
              </tr>
              <tr>
                  <td>End to End Walkthrough</td>
                  <td><a href="https://docs.google.com/presentation/d/1g_rIdCM17iLzgMUuLGBCKNBxfnj26sFmfp03b6PCkpw/edit#slide=id.g73b5ebde1f_0_0 ">Recording</a></td>
              </tr>
          </table><br>
          <li>LinkedIn Learning</li>
          <li>Staff Office Hours</li>
      </ul>


{% endblock %}
