{% extends 'one_column_view.html' %}
{% load static %}

{% block content %}

  <div style="margin-left: -135px; margin-top: 40px"><div style="width: 220%;"><div style="position: relative; padding-bottom: 56.25%;">
    <iframe frameborder="0" width="1200" height="675" style="position: absolute; width: 50%;
    height: 50%;" src="https://view.genial.ly/6036ddd783dd000d287a63d2" type="text/html" allowscriptaccess="always"
            allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> </div>

{% endblock %}