{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-row fill-page">
    <div class="col-3 border-top border-left border-bottom p-2 column-pane">

        {% block first_column %}
            replace meeeeeeeee
        {% endblock %}

    </div>

    <div class="col-6 border p-2 column-pane">

        {% block second_column %}
            replace meeeeeeeee
        {% endblock %}

    </div>


    <div class="col-3 border-top border-right border-bottom p-2 column-pane">

        {% block third_column %}
            replace meeeeeeeee
        {% endblock %}

    </div>
</div>

{% endblock %}
