{% load socialaccount %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<html>
  <head>
    <title>Discovery Application Landing Page</title>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Discovery Application Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>


        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
    </ul>


    {% if not user.is_authenticated %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% else %}
    {{ user.username }}
    {% endif %}
  </div>
</nav>


  <div class="d-flex flex-column">
    <div class="p-2">
      Welcome to the fall 2020 semester of Data Science Discovery! This website contains information for both Project Partners and Student Researchers as you move through the recruitment process to the semester and ultimately towards the Discovery Showcase event. We will update this page periodically with project profiles and student interviews to get you inspired.</p>
    </div>
    <div class="p-2">
      Throughout the semester we will ask students to submit reflections on certain aspects of their projects, which we will post in the Projects section. Check in often to see what other projects are up to! For more information about resources and requirements for students, check out the Students page. Finally, we have listed our expectations for Project Partners in the Partner page.</p>
    </div>
    <div class="p-2">
      We want to make sure that we’re providing all the information you need to have a successful semester with Discovery. If you have any questions or comments, please contact ds-discovery@berkeley.edu.
    </div>
  </div>

  <!-- </body> -->


</html>
